* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}
@font-face {
  font-family: Inter Regular;
  src: url(../fonts/inter/static/Inter_18pt-Regular.ttf);
}
@font-face {
  font-family: Cardo Regular;
  src: url(../fonts/cardo/Cardo-Regular.ttf);
}

.container {
  max-width: 1320px;
  margin: auto;
}
header {
  background-color: #1b3764;
  padding-bottom: 70px;
}

header a {
  color: white;
  font-family: Inter Regular;
}
nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
}
.nav-left {
  width: 35%;
  display: flex;
  gap: 20px;
}
.nav-right {
  width: 65%;
  display: grid;
  grid-template-columns: 3.5fr 1fr;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  gap: 10px;
  > h4 {
    font-size: 25px;
  }
}
.social-media {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  gap: 10px;
}
.social-media img {
  width: 40px;
}
.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  > a {
    font-size: 17px;
    font-weight: 500;
  }
}
.order-btn {
  background-color: rgba(255, 202, 66, 1);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  > a {
    color: rgba(27, 55, 100, 1);
    font-family: Cardo Regular;
  }
}
/* nav end */

.book-info {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 50% 47%;
  justify-content: space-between;
  align-items: center;
}
.info {
  color: white;
  > h4 {
    font-style: italic;
    font-size: 24px;
    font-weight: 400px;
    font-family: Cardo Regular;
  }
}
.info-title {
  margin-top: 20px;
  font-size: 65px;
  font-family: Cardo Regular;
  letter-spacing: -2%;
  line-height: 110%;
}
.info-description {
  font-size: 19px;
  letter-spacing: -1%;
  line-height: 180%;
  color: rgba(180, 199, 231, 1);
  font-family: Inter Regular;
  margin: 25px 0;
}
.orderBtn,
.freeDome {
  background-color: rgba(255, 202, 66, 1);
  color: rgba(27, 55, 100, 1);
  font-family: Cardo Regular;
  letter-spacing: 2%;
  font-weight: 700;
  line-height: 125%;
  display: inline-block;
  width: 150px;
  padding: 10px;
  text-align: center;
}
.freeDome {
  background-color: #1b3764;
  color: white;
  margin-left: 10px;
  text-decoration: underline;
}

.info-boxes {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.info-box {
  display: flex;
  gap: 10px;
}
.info-box img {
  margin-top: 7px;
}
.info-box h4 {
  font-size: 24px;
  letter-spacing: -1%;
  font-family: Cardo Regular;
}
.info-box p {
  color: rgba(180, 199, 231, 1);
  font-size: 18px;
  font-family: Inter Regular;
  line-height: 170%;
  letter-spacing: -1%;
}
.image img {
  width: 100%;
}

.bars {
  color: white;
  font-size: 25px;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.mobileNav {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 50px;
  position: absolute;
  width: 100%;
  right: 0;
  height: calc(100% - 70px);
  background-color: #a9a9a9;
  opacity: 0;
  visibility: hidden;
  transition: 0.7s;
  > .showLinks {
    display: flex;
    flex-direction: column;
    gap: 20px;
    > img {
      width: 50px;
    }
    > a {
      width: 100%;
      text-align: center;
      font-size: 25px;
      color: #1b3764;
    }
  }
}
.showMobileNav {
  opacity: 1;
  visibility: visible;
}
.mobileNav .button {
  margin-top: 30px;
  text-align: center;
}
.mobileNav .orderBtn {
  color: #1b3764;
}
/* header end */

.section1 {
  padding: 70px 0;
}
.section-title {
  font-size: 45px;
  font-family: Cardo Regular;
  line-height: 120%;
  letter-spacing: -2%;
  text-align: center;
  color: rgba(27, 55, 100, 1);
}
.section1-boxes {
  margin-top: 50px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-between;
}
.section1-boxes .box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.section1-boxes .box h4 {
  color: rgba(27, 55, 100, 1);
}
.section1 .info-boxes {
  margin: 10px 0;
}
.box-img img {
  width: 100%;
}
.section-little-title {
  font-family: Cardo Regular;
  line-height: 120%;
  letter-spacing: -2%;
  font-size: 32px;
  color: rgba(27, 55, 100, 1);
}
.section-description {
  color: rgba(150, 154, 160, 1);
  font-family: Inter Regular;
  font-size: 19px;
  line-height: 150%;
  letter-spacing: -1%;
}
.btn {
  display: inline-block;
  color: #1b3764;
  padding: 10px;
  width: 170px;
  text-align: center;
  border: 1px solid rgba(255, 202, 66, 1);
  font-size: 19px;
  font-family: Cardo Regular;
  font-weight: 700;
}
/* section1 end */

.section2 {
  background-color: rgba(244, 248, 255, 1);
  padding: 70px 0;
}
.section2-boxes {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 47%);
  justify-content: space-between;
  align-items: center;
}
.aboutAuthorImg img {
  width: 100%;
}
.aboutAuthor .section-title {
  margin-bottom: 20px;
  text-align: left;
}
.total-boxes {
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  > .total-box {
    border-right: 2px solid rgba(255, 202, 66, 1);
    padding: 0 7px;
  }
}
.total-box:nth-child(3) {
  border: none;
}
.total-box h4 {
  font-size: 55px;
  color: rgba(27, 55, 100, 1);
  font-family: Cardo Regular;
}
.total-box p {
  font-size: 17px;
  letter-spacing: -1%;
  font-family: Inter Regular;
  color: rgba(150, 154, 160, 1);
}
.mail-info {
  margin-top: 20px;
  background-color: rgba(27, 55, 100, 1);
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.mail-info img {
  width: 100%;
}
.mail-info h4 {
  color: rgba(255, 202, 66, 1);
  font-family: Cardo Regular;
  font-size: 22px;
  line-height: 120%;
}
.mail-info a {
  font-size: 19px;
  letter-spacing: -1%;
  line-height: 180%;
  color: rgba(180, 199, 231, 1);
  font-family: Inter Regular;
  display: inline-block;
}
/* section2 end */

.section3 {
  padding: 70px 0;
}
.section3-boxes {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.logo-box {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}
.logo-info h4 {
  font-size: 24px;
  color: rgba(27, 55, 100, 1);
  line-height: 120%;
  letter-spacing: -1%;
  font-family: Cardo Regular;
}
.logo-info p {
  margin-top: 10px;
  font-size: 18px;
  font-family: Inter Regular;
  line-height: 170%;
  letter-spacing: -1%;
  color: rgba(150, 154, 160, 1);
}
/* section3 end */
